.nav-upper {
  position: fixed;
  top: 0px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 375px;
  height: 96px;
  box-shadow: 0 7px 15px 0 rgba(165, 165, 165, 0.075);
  z-index: 30;
}

.title-inside {
  height: 21px;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
