.planImage{
    width: 375px;
  height: 193px;
  margin-top: -110px;
}

.planImage img{
    width: 375px;
    height: 193px;
    object-fit: cover;
}

.planImage .planImageOwner{
    width: 32px;
  height: 32px;
  border-radius: 50px;
  border: 2px solid gainsboro;
  position: absolute;
  top: 140px;
  right: 10px;
  object-fit: cover;
}

.informationPlan{
    padding: 30px;
}

.headerPlan{
    display: flex;
    justify-content: space-between;
}

.headerPlan .datePlan{
    width: 60px;
}

.headerPlan .titlePlan{
    text-align: left;
    margin-left: 25px;
    width: 244px;
  height: 63px;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.locationPlan{
    margin-top: 25px;
text-align: left;
  height: 16px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5e5e5e;
}

.locationPlan img{
    width: 14px;
  height: 20px;
}

.descriptionPlan .descriptionPlan2{
    margin-top: 40px;
    text-align: left;
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5e5e5e;
}

.descriptionPlan .descriptionPlan3{
    margin-top: -7px;
    text-align: left;
  height: 16px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5e5e5e;
}

.usersPlan{
    margin-top: 30px;
    text-align: left;
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5e5e5e;
}

.usersPlan span {
    margin-left: 10px;
}

.usersPlan img{
    margin-left: -10px;
    margin-top: -10px;
    width: 26px;
  height: 26px;
  border-radius: 50px;
  border: 2px solid gainsboro;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.buttonsPlan{
    margin-top: 100px;
    display: flex;
}

.buttonApuntarme{
    outline: none;
  height: 48px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  color: white;
  width: 231px;
  height: 48px;
  border-radius: 24px;
  border: 0px;
  background-image: linear-gradient(258deg, #c9a1f0, #7ab2eb);
}

.buttonsPlan img{
    width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-left: 10px;
}

.month{
  
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #bf0218;
}

.day{
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
}

.plan-hour{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5e5e5e;
}

.right-icon{
  width: 7px;
  height: 11px;

}