
.plan-date {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.plan-hour{
  margin-left: -55px; 
}

.plan-hour img{
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.plan-location {
  display: flex;
  margin-left: 57px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.plan-location img{
  margin-right: 5px;
  width: 14px;
  height: 20px;
}

.month img{
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.plan-data {
  padding: 10px;
  margin-bottom: -60px;
}

.text-data {
  width: 50%;
  margin-left: 10px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5e5e5e;
}

.owner-image {
  width: 42px;
  height: 42px;
  opacity: 0.5;
  border-radius: 50px;
  margin-bottom: 24px;
  object-fit: cover;
}

.image-chat{
  object-fit: cover;
}

.assistantsPlan {
  width: 76px;
  height: 14px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin: 0;
}

.image-asisentes {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  border: 1px solid #9b9b9b;
  margin-top: 5px;
  margin-left: 5px;
  object-fit: cover;
}

.div-data-users {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px;
}

.bot-plan-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-right: 30px;
}

.assistantsUsers{
  text-align: left;
  margin-left: 0px;
}

.assistantsUsers :first-child{
  margin-right: -8px;
}

.link-profiles {
  margin: 0;
  padding: 0;
}

.state-plan-div {
  height: 32px;
  background-image: linear-gradient(265deg, rgba(201, 161, 240,0.25), rgba(122, 178, 235,0.25));
}

.state-plan-div p {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5e5e5e;
    padding: 8px 0;
    z-index: -10;
}


.section-chat{
    height: 280px;
    background-color: #E8EFFD;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
}

.section-chat :first-child{
  margin-top: 20px;
}

.section-chat :last-child{
   margin-bottom: 30px
}

.input-chat-page{
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  background-color: #F7F7F7;
  height: 60px;;
}

.input-chat-page input{
  outline: none;
  border: 1px solid gainsboro;
  height: 20px;
  background-color: white;
  margin-top: 7px;
}

.input-chat-page .button-input{
  display: none;
}

.text-message{
  text-align: left;
  padding-left: 8px;
}