.plan-data {
  width: 217px;
  height: 144px;
  border-radius: 8px;
  box-shadow: 2px 3px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: auto;
  flex-wrap: wrap;
  align-items: start;
  padding: 17px;
}

.plan-date {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.plan-location {
  display: flex;
  margin-left: 30px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.plan-data-section {
  padding: 10px;
  background-clip: #fff;
}

.text-data {
  width: 50%;
  margin-left: 10px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5e5e5e;
}

.owner-image {
  width: 42px;
  height: 42px;
  opacity: 0.5;
  border-radius: 50px;
}

.assistantsPlan {
  width: 76px;
  height: 14px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin: 0;
}

.image-asisentes {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  border: 1px solid #9b9b9b;
  margin-top: 5px;
  margin-left: 5px;
}

.div-data-users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}

.bot-plan-card {
  display: flex;
  flex-direction: column;
}

.link-profiles {
  margin: 0;
  padding: 0;
}

.state-plan-div {
  height: 32px;
  background-image: linear-gradient(265deg, rgba(201, 161, 240,0.25), rgba(122, 178, 235,0.25));
}

.state-plan-div p {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5e5e5e;
    padding: 8px 0;
    z-index: -10;
}


.section-chat{
    height: 220px;
    background-color: rgba(126, 177, 235, 0.5);
    overflow-y: scroll;

}

.section-chat :last-child{
   margin-bottom: 30px
}

.input-chat-page{
  padding: 10px;
}

