.user-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.user-image{
    margin-right: 16px
}

.user-container {
    display: flex;
    justify-content: center;
    align-self: center;
}

.user-container{
    height: 430px;
}

.user-name {
    width: 103px;
    height: 42px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.user-name{
    text-align: left;
    margin-top: 6px;
    margin-bottom: 0;
}

.no-selected-button {
    width: 144px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-left: 2px solid #7ab2eb;
    border-right: 2px solid #c9a1f0;
    border-bottom: 2px solid #7ab2eb;
    border-top: 2px solid #c9a1f0;
}

.no-selected-button{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5e5e5e;
}

.no-selected-button:before{
    content: "Seleccionar"
}

.selected-button:before{
    content: "Seleccionado"
}

.send-plan-button::before{
    content: "Enviar"
}

.send-plan-button-clicked:before{
    content: "Enviado"
}

.selected-button{
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.selected-button{
    width: 144px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(252deg, #c9a1f0, #7ab2eb);
  
}


.send-plan-button, .send-plan-button-clicked{
    width: 311px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(261deg, #c9a1f0, #7ab2eb 98%);
}

.send-plan-button, .send-plan-button-clicked{
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

