.new-plan-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.new-plan-form {
  background-color: "F7F9FA";
  border-top: 1px solid "F7F9FA";
}

.div-date-time{
  display: flex;
  margin-bottom: 60px;
  margin-bottom: 30px;
}

.date-label{
  display: block;
  text-align: left;
  margin-bottom: 12px;
  margin-left: 8px;
}

.new-plan-form Input{
  font-size: 16px;
  padding-top: 5px;
}

.input-time{
  text-align: center;
  outline: none;
}

.date-div{
  text-align: center;
  outline: none;
}